@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiSpacer {
  background: transparent;
  display: flex;

  // Size variations
  @include variants.variant('cuiSizeXs') {
    padding: var(--click-spacer-horizontal-space-y-xs) var(--click-spacer-horizontal-space-x-all);
  }

  @include variants.variant('cuiSizeSm') {
    padding: var(--click-spacer-horizontal-space-y-sm) var(--click-spacer-horizontal-space-x-all);
  }

  @include variants.variant('cuiSizeMd') {
    padding: var(--click-spacer-horizontal-space-y-md) var(--click-spacer-horizontal-space-x-all);
  }

  @include variants.variant('cuiSizeLg') {
    padding: var(--click-spacer-horizontal-space-y-lg) var(--click-spacer-horizontal-space-x-all);
  }

  @include variants.variant('cuiSizeXl') {
    padding: var(--click-spacer-horizontal-space-y-xl) var(--click-spacer-horizontal-space-x-all);
  }

  @include variants.variant('cuiSizeXxl') {
    padding: var(--click-spacer-horizontal-space-y-xxl) var(--click-spacer-horizontal-space-x-all);
  }
}
