@use "cui-mixins" as mixins;

.cuiSelectPopoverRoot {
  width: 100%;
  border: 1px solid var(--click-genericMenu-item-color-stroke-default);
  background: var(--click-genericMenu-item-color-background-default);
  box-shadow:
    0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  padding: 0.5rem 0rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.cuiPopoverContent {
  width: var(--radix-popover-trigger-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.cuiSelectGroupContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: -webkit-fill-available;
  width: fill-available;
  width: stretch;
  overflow: hidden;
  background: transparent;
  font: var(--click-genericMenu-item-typography-sectionHeader-default);
  color: var(--click-genericMenu-item-color-text-muted);

  &[aria-selected] {
    outline: none;
  }

  &[hidden] {
    display: none;
  }
}

.cuiSelectGroupName {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: var(--click-genericMenu-item-typography-sectionHeader-default);
  color: var(--click-genericMenu-item-color-text-muted);
  padding: var(--click-genericMenu-sectionHeader-space-top) var(--click-genericMenu-item-space-x)
    var(--click-genericMenu-sectionHeader-space-bottom);
  gap: var(--click-genericMenu-item-space-gap);
  border-bottom: 1px solid var(--click-genericMenu-item-color-stroke-default);
}

.cuiSelectGroupContent {
  width: inherit;
}

.cuiSelectListContent {
  width: inherit;
  overflow: overlay;
  flex: 1;
}

.cuiSelectNoDataContainer {
  border: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  cursor: default;
  font: var(--click-genericMenu-button-typography-label-default);
  padding: var(--click-genericMenu-button-space-y) var(--click-genericMenu-item-space-x);
  background: var(--click-genericMenu-button-color-background-default);
  color: var(--click-genericMenu-button-color-label-default);

  &[hidden="true"] {
    display: none;
  }
}

.cuiSelectList {
  display: flex;
  flex-direction: column;
  width: inherit;
  max-height: var(--radix-popover-content-available-height);
  border: 1px solid var(--click-genericMenu-item-color-stroke-default);
  background: var(--click-genericMenu-item-color-background-default);
  box-shadow: var(--click-genericMenu-panel-shadow-default);
  border-radius: 0.25rem;
}

.cuiCheckIcon {
  &.cuiShowCheck {
    opacity: 1;
  }

  &:not(.cuiShowCheck) {
    opacity: 0;
  }
}
