build
dist
node_modules
.idea
storybook-static
.env
*.log
**/.DS_Store
vite.config.ts.timestamp*
.storybook/out
tmp/*

.yarn/*
!.yarn/releases
!.yarn/plugins

**.ts-snapshots
tests/**/*-actual.png
tests/**/*-diff.png
test-results
