build
dist
node_modules
.idea
storybook-static
.env
*.log
**/.DS_Store
vite.config.ts.timestamp*

# Generated TypeScript declaration files for SCSS modules
**/*.scss.d.ts
**/*.css.d.ts

.yarn/*
!.yarn/releases
!.yarn/plugins
