@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

@keyframes shimmerFullWidth {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes shimmerFixedWidth {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.cuiButton {
  @include mixins.cuiBaseButton;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;

  &:hover {
    transition: var(--transition-default);
  }

  &::before {
    content: none;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  // Button type variants - using :where() for low specificity (0,0,1,0)
  @include variants.variant('cuiPrimary') {
    color: tokens.$clickButtonBasicColorPrimaryTextDefault;
    background-color: tokens.$clickButtonBasicColorPrimaryBackgroundDefault;
    border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorPrimaryStrokeDefault;

    &:hover {
      background-color: tokens.$clickButtonBasicColorPrimaryBackgroundHover;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorPrimaryStrokeHover;
      font: tokens.$clickButtonBasicTypographyLabelHover;
    }

    &:active,
    &:focus {
      background-color: tokens.$clickButtonBasicColorPrimaryBackgroundActive;
      border: 1px solid tokens.$clickButtonBasicColorPrimaryStrokeActive;
      font: tokens.$clickButtonBasicTypographyLabelActive;
    }

    &:disabled:not(.cuiLoading),
    &:disabled:not(.cuiLoading):hover,
    &:disabled:not(.cuiLoading):active {
      background-color: tokens.$clickButtonBasicColorPrimaryBackgroundDisabled;
      color: tokens.$clickButtonBasicColorPrimaryTextDisabled;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorPrimaryStrokeDisabled;
      font: tokens.$clickButtonBasicTypographyLabelDisabled;
      cursor: not-allowed;
    }

    &.cuiLoading::before {
      content: "";
      background: tokens.$clickButtonBasicColorPrimaryBackgroundLoading;
    }
  }

  @include variants.variant('cuiSecondary') {
    color: tokens.$clickButtonBasicColorSecondaryTextDefault;
    background-color: tokens.$clickButtonBasicColorSecondaryBackgroundDefault;
    border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorSecondaryStrokeDefault;

    &:hover {
      background-color: tokens.$clickButtonBasicColorSecondaryBackgroundHover;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorSecondaryStrokeHover;
      font: tokens.$clickButtonBasicTypographyLabelHover;
    }

    &:active,
    &:focus {
      background-color: tokens.$clickButtonBasicColorSecondaryBackgroundActive;
      border: 1px solid tokens.$clickButtonBasicColorSecondaryStrokeActive;
      font: tokens.$clickButtonBasicTypographyLabelActive;
    }

    &:disabled:not(.cuiLoading),
    &:disabled:not(.cuiLoading):hover,
    &:disabled:not(.cuiLoading):active {
      background-color: tokens.$clickButtonBasicColorSecondaryBackgroundDisabled;
      color: tokens.$clickButtonBasicColorSecondaryTextDisabled;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorSecondaryStrokeDisabled;
      font: tokens.$clickButtonBasicTypographyLabelDisabled;
      cursor: not-allowed;
    }

    &.cuiLoading::before {
      content: "";
      background: tokens.$clickButtonBasicColorSecondaryBackgroundLoading;
    }
  }

  @include variants.variant('cuiEmpty') {
    color: tokens.$clickButtonBasicColorEmptyTextDefault;
    background-color: tokens.$clickButtonBasicColorEmptyBackgroundDefault;
    border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorEmptyStrokeDefault;

    &:hover {
      background-color: tokens.$clickButtonBasicColorEmptyBackgroundHover;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorEmptyStrokeHover;
      font: tokens.$clickButtonBasicTypographyLabelHover;
    }

    &:active,
    &:focus {
      background-color: tokens.$clickButtonBasicColorEmptyBackgroundActive;
      border: 1px solid tokens.$clickButtonBasicColorEmptyStrokeActive;
      font: tokens.$clickButtonBasicTypographyLabelActive;
    }

    &:disabled:not(.cuiLoading),
    &:disabled:not(.cuiLoading):hover,
    &:disabled:not(.cuiLoading):active {
      background-color: tokens.$clickButtonBasicColorEmptyBackgroundDisabled;
      color: tokens.$clickButtonBasicColorEmptyTextDisabled;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorEmptyStrokeDisabled;
      font: tokens.$clickButtonBasicTypographyLabelDisabled;
      cursor: not-allowed;
    }

    &.cuiLoading {
      cursor: not-allowed;
      opacity: 0.9;

      > * {
        opacity: 0.7;
      }

      &::before {
        content: "";
        background: tokens.$clickButtonBasicColorEmptyBackgroundLoading;
      }
    }
  }

  @include variants.variant('cuiDanger') {
    color: tokens.$clickButtonBasicColorDangerTextDefault;
    background-color: tokens.$clickButtonBasicColorDangerBackgroundDefault;
    border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorDangerStrokeDefault;

    &:hover {
      background-color: tokens.$clickButtonBasicColorDangerBackgroundHover;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorDangerStrokeHover;
      font: tokens.$clickButtonBasicTypographyLabelHover;
    }

    &:active,
    &:focus {
      background-color: tokens.$clickButtonBasicColorDangerBackgroundActive;
      border: 1px solid tokens.$clickButtonBasicColorDangerStrokeActive;
      font: tokens.$clickButtonBasicTypographyLabelActive;
    }

    &:disabled:not(.cuiLoading),
    &:disabled:not(.cuiLoading):hover,
    &:disabled:not(.cuiLoading):active {
      background-color: tokens.$clickButtonBasicColorDangerBackgroundDisabled;
      color: tokens.$clickButtonBasicColorDangerTextDisabled;
      border: tokens.$clickButtonStroke solid tokens.$clickButtonBasicColorDangerStrokeDisabled;
      font: tokens.$clickButtonBasicTypographyLabelDisabled;
      cursor: not-allowed;
    }

    &.cuiLoading::before {
      content: "";
      background: tokens.$clickButtonBasicColorDangerBackgroundLoading;
    }
  }

  // Alignment variants - using :where() for low specificity
  @include variants.variant('cuiAlignLeft') {
    justify-content: flex-start;
  }

  @include variants.variant('cuiAlignCenter') {
    justify-content: center;
  }

  // Fill width variant - using :where() for low specificity
  @include variants.variant('cuiFillWidth') {
    width: 100%;
  }

  // Loading state
  &.cuiLoading {
    cursor: not-allowed;

    // Default opacity for most button types
    &:not(.cuiEmpty) {
      opacity: 0.7;

      > * {
        opacity: 0.7;
      }
    }

    &::before {
      background-size: 200px 100%;
      background-repeat: no-repeat;
      animation: shimmerFixedWidth 1.5s ease-in-out infinite;
    }

    &.cuiFillWidth::before {
      background-size: 200% 100%;
      background-repeat: repeat;
      animation: shimmerFullWidth 1.5s ease-in-out infinite;
    }
  }
}

// Button icon styling
.cuiButtonIcon {
  composes: cuiIconWrapper from '../Icon/Icon.module.scss';
  height: tokens.$clickButtonBasicSizeIconAll;
  width: tokens.$clickButtonBasicSizeIconAll;

  svg {
    height: tokens.$clickButtonBasicSizeIconAll;
    width: tokens.$clickButtonBasicSizeIconAll;
  }
}
