@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiRightMenuContent {
  flex-direction: column;
  z-index: 1;

  @include variants.variant('cuiShowArrow') {
    &[data-side="bottom"] {
      margin-top: -1px;
    }

    &[data-side="top"] {
      margin-bottom: -1px;
    }

    &[data-side="left"] {
      margin-right: -1px;

      .cuiPopoverArrow {
        margin-right: 1rem;
      }
    }

    &[data-side="right"] {
      margin-left: -1px;

      .cuiPopoverArrow {
        margin-left: 1rem;
      }
    }
  }
}

.cuiRightMenuGroup {
  width: 100%;
  border-bottom: 1px solid var(--click-genericMenu-item-color-stroke-default);
}

.cuiRightMenuSub {
  border-bottom: 1px solid var(--click-genericMenu-item-color-stroke-default);
}

.cuiGenericMenuItem {
  @include mixins.cuiGenericMenuItem;
}

.cuiGenericMenuPanel {
  outline: none;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  pointer-events: auto;
  border: 1px solid var(--click-genericMenu-panel-color-stroke-default);
  background: var(--click-genericMenu-panel-color-background-default);
  box-shadow: var(--click-genericMenu-panel-shadow-default);
  border-radius: var(--click-genericMenu-panel-radii-all);
}

.cuiContextMenu {
  max-width: var(--radix-context-menu-content-available-width);
  max-height: var(--radix-context-menu-content-available-height);
}
