@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiRightMenuContent {
  flex-direction: column;
  z-index: 1;

  @include variants.variant('cuiShowArrow') {
    &[data-side="bottom"] {
      margin-top: -1px;
    }

    &[data-side="top"] {
      margin-bottom: -1px;
    }

    &[data-side="left"] {
      margin-right: -1px;

      .cuiPopoverArrow {
        margin-right: 1rem;
      }
    }

    &[data-side="right"] {
      margin-left: -1px;

      .cuiPopoverArrow {
        margin-left: 1rem;
      }
    }
  }
}

.cuiRightMenuGroup {
  width: 100%;
  border-bottom: 1px solid tokens.$clickGenericMenuItemColorDefaultStrokeDefault;
}

.cuiRightMenuSub {
  border-bottom: 1px solid tokens.$clickGenericMenuItemColorDefaultStrokeDefault;
}

.cuiGenericMenuItem {
  @include mixins.cuiGenericMenuItem;
}

.cuiGenericMenuPanel {
  outline: none;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  pointer-events: auto;
  border: 1px solid tokens.$clickGenericMenuPanelColorStrokeDefault;
  background: tokens.$clickGenericMenuPanelColorBackgroundDefault;
  box-shadow: tokens.$clickGenericMenuPanelShadowDefault;
  border-radius: tokens.$clickGenericMenuPanelRadiiAll;
}

.cuiContextMenu {
  max-width: var(--radix-context-menu-content-available-width);
  max-height: var(--radix-context-menu-content-available-height);
}

.cuiArrow {
  fill: tokens.$clickGenericMenuPanelColorBackgroundDefault;
  stroke: tokens.$clickGenericMenuPanelColorStrokeDefault;
  filter: drop-shadow(0 4px 6px rgb(0, 0, 0, 0.1));
}
