 "@/theme/tokens/types" as tokens;

.cuiGridCenter {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.cuiTrigger {
  @extend .cuiGridCenter;
  border: 2px currentColor dashed;
}