@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiGridContainer {
  display: flex;
  flex-direction: column-reverse;
  user-select: none;
  overflow-anchor: none;
}

.cuiGridDataContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.cuiContextMenuTrigger {
  outline: none;
  overflow: hidden;
  width: 100%;
  background: var(--click-grid-body-cell-color-background-default);

  /* Height variants */
  @include variants.variant('cuiAutoHeight') {
    /* Height will be calculated dynamically */
  }

  @include variants.variant('cuiFixedHeight') {
    height: 100%;
  }

  /* Rounded variants */
  @include variants.variant('cuiRoundedNone') {
    border-radius: var(--click-grid-radii-none);
  }

  @include variants.variant('cuiRoundedSm') {
    border-radius: var(--click-grid-radii-sm);
  }

  @include variants.variant('cuiRoundedMd') {
    border-radius: var(--click-grid-radii-md);
  }

  @include variants.variant('cuiRoundedLg') {
    border-radius: var(--click-grid-radii-lg);
  }

  @include variants.variant('cuiRoundedXl') {
    border-radius: var(--click-grid-radii-xl);
  }

  /* Border variants */
  @include variants.variant('cuiShowBorder') {
    border: 1px solid var(--click-grid-header-cell-color-stroke-default);
  }

  @include variants.variant('cuiHideBorder') {
    border: none;
  }
}
