@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiHeaderContainer {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;

  @include variants.variant('cuiScrolledVertical') {
    box-shadow: 0 0 0 1px tokens.$clickGridHeaderCellColorStrokeDefault;
  }
}

.cuiScrollableHeaderContainer {
  position: relative;
}

.cuiHeaderCellContainer {
  position: absolute;
  display: flex;

  &:hover [data-resize] {
    background: tokens.$clickGridHeaderCellColorStrokeSelectDirect;
  }
}

.cuiRowColumnContainer {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  text-align: right;

  @include variants.variant('cuiScrolledHorizontal') {
    box-shadow: 0 0 0 1px tokens.$clickGridHeaderCellColorStrokeDefault;
  }
}

.cuiRowColumn {
  width: 100%;
  text-align: right;
  overflow: hidden;
}
