@mixin cuiButtonBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--click-button-basic-radii-default);
  cursor: pointer;
  text-decoration: none;
  transition: var(--click-button-basic-transitions-all);
  white-space: nowrap;
  position: relative;

  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

@mixin cuiButtonSize($size) {
  padding: var(--click-button-basic-#{$size}-space-y) var(--click-button-basic-#{$size}-space-x);
  gap: var(--click-button-basic-#{$size}-space-gap);
  font: var(--click-button-basic-#{$size}-typography-default);
  min-height: var(--click-button-basic-#{$size}-size-height);
}

@mixin cuiButtonType($type, $state: "default") {
  background-color: var(--click-button-basic-#{$type}-color-background-#{$state});
  color: var(--click-button-basic-#{$type}-color-text-#{$state});
  border: var(--click-button-basic-#{$type}-stroke-#{$state}) solid
    var(--click-button-basic-#{$type}-color-stroke-#{$state});
}

@mixin cuiContainerBase {
  display: flex;
  box-sizing: border-box;
}

@mixin cuiContainerOrientation($orientation) {
  @if $orientation == "horizontal" {
    flex-direction: row;
  } @else if $orientation == "vertical" {
    flex-direction: column;
  }
}

@mixin cuiContainerGap($gap) {
  gap: var(--click-container-gap-#{$gap});
}

@mixin cuiContainerPadding($padding) {
  padding: var(--click-container-padding-#{$padding});
}

@mixin cuiFullWidthStretch {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  width: stretch;
}

@mixin cuiFullMaxWidthStretch {
  max-width: 100%;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  max-width: fill-available;
  max-width: stretch;
}

@mixin cuiInteractiveContainer {
  cursor: pointer;
  pointer-events: all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin cuiSidebarItemBase {
  display: flex;
  align-items: center;
  border: none;
  @include cuiFullWidthStretch;
  white-space: nowrap;
  overflow: hidden;
  flex-wrap: nowrap;
  cursor: pointer;
  pointer-events: all;
}
