.cuiColorBox {
  border-radius: 4px;

  &.cuiBlue {
    background-color: #4781f0;
  }

  &.cuiOrange {
    background-color: #ffa63d;
  }

  &.cuiGreen {
    background-color: #62de85;
  }

  &.cuiFuchsia {
    background-color: #e879f9;
  }

  &.cuiYellow {
    background-color: #fbff46;
  }

  &.cuiViolet {
    background-color: #a855f7;
  }

  &.cuiBabyblue {
    background-color: #38bdf8;
  }

  &.cuiRed {
    background-color: #ff5353;
  }

  &.cuiTeal {
    background-color: #2dd4bf;
  }

  &.cuiSunrise {
    background-color: #f59e0b;
  }

  &.cuiSlate {
    background-color: #373439;
  }
}