@use "cui-mixins" as mixins;

// Component-specific styles only - common styles imported in TSX
.cuiUploadArea {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  &.cuiHasFile {
    flex-direction: row;
    justify-content: space-between;
    cursor: default;
  }

  &.cuiSmall {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cuiFileUploadTitle {
  &.cuiNotSupported {
    color: var(--click-fileUpload-color-title-error);
  }
}

.cuiUploadText {
  text-align: center;

  &.cuiHasFile,
  &.cuiSmall {
    text-align: left;
    flex: 1;
  }

  &.cuiCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
