@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

/* Component-specific styles only - common styles imported in TSX */
.cuiUploadArea {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.cuiFileUploadTitle {
  @include variants.variant('cuiNotSupported') {
    color: tokens.$clickFileUploadColorTitleError;
  }
}

.cuiUploadText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cuiFilesList {
  display: flex;
  flex-direction: column;
  gap: tokens.$clickFileUploadSmSpaceGap;
  width: 100%;
  margin-top: tokens.$clickFileUploadMdSpaceGap;
}

.cuiFileItem {
  flex-direction: row;
  justify-content: space-between;
}
