@use "cui-mixins" as mixins;

.cuiText {
  margin: 0;
}

// Font styles using CSS custom properties
.cuiFontSizeXs {
  font: var(--typography-styles-product-text-normal-xs);
}

.cuiFontSizeXsLight {
  font: var(--typography-styles-product-text-light-xs);
}

.cuiFontSizeXsMedium {
  font: var(--typography-styles-product-text-medium-xs);
}

.cuiFontSizeXsSemibold {
  font: var(--typography-styles-product-text-semibold-xs);
}

.cuiFontSizeXsBold {
  font: var(--typography-styles-product-text-bold-xs);
}

.cuiFontSizeSm {
  font: var(--typography-styles-product-text-normal-sm);
}

.cuiFontSizeSmLight {
  font: var(--typography-styles-product-text-light-sm);
}

.cuiFontSizeSmMedium {
  font: var(--typography-styles-product-text-medium-sm);
}

.cuiFontSizeSmSemibold {
  font: var(--typography-styles-product-text-semibold-sm);
}

.cuiFontSizeSmBold {
  font: var(--typography-styles-product-text-bold-sm);
}

.cuiFontSizeMd {
  font: var(--typography-styles-product-text-normal-md);
}

.cuiFontSizeMdLight {
  font: var(--typography-styles-product-text-light-md);
}

.cuiFontSizeMdMedium {
  font: var(--typography-styles-product-text-medium-md);
}

.cuiFontSizeMdSemibold {
  font: var(--typography-styles-product-text-semibold-md);
}

.cuiFontSizeMdBold {
  font: var(--typography-styles-product-text-bold-md);
}

.cuiFontSizeLg {
  font: var(--typography-styles-product-text-normal-lg);
}

.cuiFontSizeLgLight {
  font: var(--typography-styles-product-text-light-lg);
}

.cuiFontSizeLgMedium {
  font: var(--typography-styles-product-text-medium-lg);
}

.cuiFontSizeLgSemibold {
  font: var(--typography-styles-product-text-semibold-lg);
}

.cuiFontSizeLgBold {
  font: var(--typography-styles-product-text-bold-lg);
}

.cuiFontSizeXl {
  font: var(--typography-styles-product-text-normal-xl);
}

.cuiFontSizeXlLight {
  font: var(--typography-styles-product-text-light-xl);
}

.cuiFontSizeXlMedium {
  font: var(--typography-styles-product-text-medium-xl);
}

.cuiFontSizeXlSemibold {
  font: var(--typography-styles-product-text-semibold-xl);
}

.cuiFontSizeXlBold {
  font: var(--typography-styles-product-text-bold-xl);
}

// Text colors
.cuiColorDefault {
  color: var(--click-global-color-text-default);
}

.cuiColorMuted {
  color: var(--click-global-color-text-muted);
}

.cuiColorDanger {
  color: var(--click-global-color-text-danger);
}

.cuiColorDisabled {
  color: var(--click-global-color-text-disabled);
}

// Text alignment
.cuiAlignLeft {
  text-align: left;
}

.cuiAlignCenter {
  text-align: center;
}

.cuiAlignRight {
  text-align: right;
}

// Fill width
.cuiFillWidth {
  width: 100%;
}
