.content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--click-dialog-space-gap);
}

/* stylelint-disable-next-line media-feature-range-notation -- prefix notation
   required for browser compatibility per .browserslistrc */
@media (max-width: 640px) {
  .actions {
    flex-direction: column;
  }
}
