@use "../styles/mixins" as mixins;
@use "cui-variants" as variants;

.cuiFormRoot {
  @include mixins.cuiFormRoot();

  @include variants.variant('cuiOrientationHorizontal') {
    @include variants.variant('cuiDirStart') {
      flex-direction: row-reverse;
    }

    @include variants.variant('cuiDirEnd') {
      flex-direction: row;
    }

    @include variants.variant('cuiAddLabelPadding') {
      :global(label) {
        padding-top: calc(var(--click-field-space-y) + 1px);
        line-height: 1lh;
      }
    }
  }

  @include variants.variant('cuiOrientationVertical') {
    @include variants.variant('cuiDirStart') {
      flex-direction: column-reverse;
    }

    @include variants.variant('cuiDirEnd') {
      flex-direction: column;
    }
  }
}

.cuiError {
  font: var(--click-field-typography-label-error);
  color: var(--click-field-color-label-error);
}

.cuiEmptyButton {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

.cuiCrossButton {
  @extend .cuiEmptyButton;
  padding: var(--click-button-iconButton-sm-space-y) var(--click-button-iconButton-sm-space-x);
  background: var(--click-button-iconButton-color-primary-background-default);
  border-radius: var(--click-button-iconButton-radii-all);

  &:hover {
    background: var(--click-button-iconButton-color-primary-background-hover);
  }
}

.cuiGridCenter {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.cuiBaseButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: var(--click-button-basic-space-y) var(--click-button-basic-space-x);
  border-radius: var(--click-button-radii-all);
  gap: var(--click-button-basic-space-gap);
  font: var(--click-button-basic-typography-label-default);

  &:hover {
    font: var(--click-button-basic-typography-label-hover);
  }

  &:active,
  &:focus {
    outline: none;
    font: var(--click-button-basic-typography-label-active);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    font: var(--click-button-basic-typography-label-disabled);
    cursor: not-allowed;
  }
}

.cuiSvgImageElement {
  @include variants.variant('cuiSizeXxs') {
    @include mixins.cuiIconSize(xxs);
  }

  @include variants.variant('cuiSizeXs') {
    @include mixins.cuiIconSize(xs);
  }

  @include variants.variant('cuiSizeSm') {
    @include mixins.cuiIconSize(sm);
  }

  @include variants.variant('cuiSizeMd') {
    @include mixins.cuiIconSize(md);
  }

  @include variants.variant('cuiSizeLg') {
    @include mixins.cuiIconSize(lg);
  }

  @include variants.variant('cuiSizeXl') {
    @include mixins.cuiIconSize(xl);
  }

  @include variants.variant('cuiSizeXxl') {
    @include mixins.cuiIconSize(xxl);
  }
}

.cuiFormElementContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: -webkit-fill-available;
  width: fill-available;
  width: stretch;
  gap: var(--click-field-space-gap);
}

.cuiEllipsisContainer {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  justify-content: flex-end;
  gap: inherit;

  & > *:not(button) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
