@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

$explicit-width: 250px;

/* DateRangePicker input wrapper */
.cuiHighlightedInputWrapper {
  width: $explicit-width;

  @include variants.variant('cuiActive') {
    border: tokens.$clickDatePickerDateOptionStroke solid tokens.$clickDatePickerDateOptionColorStrokeActive;
  }

  @include variants.variant('cuiInactive') {
    border: tokens.$clickDatePickerDateOptionStroke solid tokens.$clickFieldColorStrokeDefault;
  }
}

/* Input element styling - matches InputElement from main branch */
.cuiInputElement {
  @include mixins.cuiInputElement;

  /* DateRangePicker specific padding - has start content (calendar icon) */
  padding-left: 0;
  padding-right: tokens.$clickFieldSpaceX;
}

.cuiDatePickerContainer {
  background: tokens.$clickDatePickerDateOptionColorBackgroundDefault;
}

.cuiUnselectableTitle {
  color: tokens.$clickDatePickerColorTitleDefault;
  font: tokens.$clickDatePickerTypographyTitleDefault;
  user-select: none;
}

.cuiDateTable {
  border-collapse: separate;
  border-spacing: 0;
  font: tokens.$clickDatePickerDateOptionTypographyLabelDefault;
  table-layout: fixed;
  user-select: none;
  width: $explicit-width;

  thead tr {
    height: tokens.$clickDatePickerDateOptionSizeHeight;
  }

  tbody {
    cursor: pointer;
  }

  td,
  th {
    padding: 4px;
  }
}

.cuiDateTableHeader {
  color: tokens.$clickDatePickerColorDaytitleDefault;
  font: tokens.$clickDatePickerTypographyDaytitleDefault;
  width: 14%;
}

.cuiDateTableCell {
  border: tokens.$clickDatePickerDateOptionStroke solid tokens.$clickDatePickerDateOptionColorStrokeDefault;
  border-radius: tokens.$clickDatePickerDateOptionRadiiDefault;
  font: tokens.$clickDatePickerDateOptionTypographyLabelDefault;
  text-align: center;

  @include variants.variants('cuiNotCurrentMonth', 'cuiDisabled') {
    color: tokens.$clickDatePickerDateOptionColorLabelDisabled;
    font: tokens.$clickDatePickerDateOptionTypographyLabelDisabled;
  }

  @include variants.variant('cuiSelected') {
    background: tokens.$clickDatePickerDateOptionColorBackgroundActive;
    color: tokens.$clickDatePickerDateOptionColorLabelActive;
  }

  @include variants.variant('cuiToday') {
    font: tokens.$clickDatePickerDateOptionTypographyLabelActive;
  }

  &:hover {
    border: tokens.$clickDatePickerDateOptionStroke solid tokens.$clickDatePickerDateOptionColorStrokeHover;
    border-radius: tokens.$clickDatePickerDateOptionRadiiDefault;

    @include variants.variant('cuiDisabled') {
      border: tokens.$clickDatePickerDateOptionStroke solid tokens.$clickDatePickerDateOptionColorStrokeDisabled;
    }
  }
}
