@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiWrapper {
  @include mixins.cuiFormRoot($align: center, $maxWidth: fit-content);

  // Orientation and direction combinations using :where() for low specificity
  @include variants.variant('cuiOrientationHorizontal') {
    @include variants.variant('cuiDirStart') {
      flex-direction: row-reverse;
    }
    @include variants.variant('cuiDirEnd') {
      flex-direction: row;
    }
  }

  @include variants.variant('cuiOrientationVertical') {
    @include variants.variant('cuiDirStart') {
      flex-direction: column-reverse;
    }
    @include variants.variant('cuiDirEnd') {
      flex-direction: column;
    }
  }
}

.cuiCheckInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: tokens.$clickCheckboxRadiiAll;
  width: tokens.$clickCheckboxSizeAll;
  height: tokens.$clickCheckboxSizeAll;
  cursor: pointer;
  border: 1px solid;

  // Variant styles using :where() for low specificity
  @include variants.variant('cuiVariantDefault') {
    background: tokens.$clickCheckboxColorVariationsDefaultBackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsDefaultStrokeDefault;

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsDefaultStrokeActive;
      background: tokens.$clickCheckboxColorVariationsDefaultBackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsDefaultStrokeActive;
      background: tokens.$clickCheckboxColorVariationsDefaultBackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar1') {
    background: tokens.$clickCheckboxColorVariationsVar1BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar1StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar1BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar1StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar1BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar1StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar1BackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar2') {
    background: tokens.$clickCheckboxColorVariationsVar2BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar2StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar2BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar2StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar2BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar2StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar2BackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar3') {
    background: tokens.$clickCheckboxColorVariationsVar3BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar3StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar3BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar3StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar3BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar3StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar3BackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar4') {
    background: tokens.$clickCheckboxColorVariationsVar4BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar4StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar4BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar4StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar4BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar4StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar4BackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar5') {
    background: tokens.$clickCheckboxColorVariationsVar5BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar5StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar5BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar5StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar5BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar5StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar5BackgroundActive;
    }
  }

  @include variants.variant('cuiVariantVar6') {
    background: tokens.$clickCheckboxColorVariationsVar6BackgroundDefault;
    border-color: tokens.$clickCheckboxColorVariationsVar6StrokeDefault;

    &:hover {
      background: tokens.$clickCheckboxColorVariationsVar6BackgroundHover;
    }

    @include variants.variant('cuiCheckedTrue') {
      border-color: tokens.$clickCheckboxColorVariationsVar6StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar6BackgroundActive;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      border-color: tokens.$clickCheckboxColorVariationsVar6StrokeActive;
      background: tokens.$clickCheckboxColorVariationsVar6BackgroundActive;
    }
  }

  // Disabled state using :where() for low specificity
  @include variants.variant('cuiDisabled') {
    background: tokens.$clickCheckboxColorBackgroundDisabled;
    border-color: tokens.$clickCheckboxColorStrokeDisabled;
    cursor: not-allowed;

    @include variants.variant('cuiCheckedTrue') {
      background: tokens.$clickCheckboxColorBackgroundDisabled;
      border-color: tokens.$clickCheckboxColorStrokeDisabled;
    }

    @include variants.variant('cuiCheckedIndeterminate') {
      background: tokens.$clickCheckboxColorBackgroundDisabled;
      border-color: tokens.$clickCheckboxColorStrokeDisabled;
    }
  }
}

.cuiCheckIconWrapper {
  color: tokens.$clickCheckboxColorCheckActive;

  @include variants.variant('cuiDisabled') {
    color: tokens.$clickCheckboxColorCheckDisabled;
  }
}
