.cuiActionArea {
  display: flex;
  justify-content: flex-end;
  gap: var(--click-dialog-space-gap);
}

.cuiTopNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid var(--click-separator-color-stroke-default);
}