.cuiThemeBlock {
  position: absolute;
  inset: 0;
  min-height: fill-available;

  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
  background: tokens.$clickStorybookGlobalBackground;

  &.cuiLeft {
    left: 0;
  }

  &.cuiRight {
    left: 50vw;
  }

  &.cuiFill {
    left: 0;
  }
}
