@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiAvatarRoot {
  width: var(--click-avatar-size-width);
  height: var(--click-avatar-size-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  background-color: var(--click-avatar-color-background-default);
  color: var(--click-avatar-color-text-default);
  border-radius: var(--click-avatar-radii-all);

  &:active {
    background-color: var(--click-avatar-color-background-active);
    color: var(--click-avatar-color-text-active);
  }

  &:hover {
    background-color: var(--click-avatar-color-background-hover);
    color: var(--click-avatar-color-text-hover);
  }
}

.cuiAvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.cuiAvatarFallback {
  width: var(--click-avatar-size-label-width);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Text size variants - using :where() for low specificity
  @include variants.variant('cuiTextSizeMd') {
    font: var(--click-avatar-typography-label-md-default);

    .cuiAvatarRoot:active & {
      font: var(--click-avatar-typography-label-md-active);
    }

    .cuiAvatarRoot:hover & {
      font: var(--click-avatar-typography-label-md-hover);
    }
  }

  @include variants.variant('cuiTextSizeSm') {
    font: var(--click-avatar-typography-label-sm-default);

    .cuiAvatarRoot:active & {
      font: var(--click-avatar-typography-label-sm-active);
    }

    .cuiAvatarRoot:hover & {
      font: var(--click-avatar-typography-label-sm-hover);
    }
  }
}
