.card-horizontal {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--click-card-horizontal-radii-all);
  display: inline-flex;
  font: var(--click-card-horizontal-typography-title-default);
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}

.card-horizontal__content {
  display: flex;
  flex-direction: row;
  gap: var(--click-card-horizontal-space-md-gap);
  width: 100%;
}

.card-horizontal__icon-text-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--click-card-horizontal-space-md-gap);
  width: 100%;
}

.card-horizontal__icon {
  height: var(--click-card-horizontal-icon-size-all);
  width: var(--click-card-horizontal-icon-size-all);
}

.card-horizontal__header {
  display: flex;
  flex-flow: row;
  gap: inherit;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-horizontal__description {
  align-self: start;
  display: flex;
  flex: 1;
  flex-direction: column;
  font: var(--click-card-horizontal-typography-description-default);
  gap: var(--click-card-horizontal-space-md-gap);
  width: 100%;
}

.card-horizontal_md {
  padding: var(--click-card-horizontal-space-md-y) var(--click-card-horizontal-space-md-x);
}

.card-horizontal_sm {
  padding: var(--click-card-horizontal-space-sm-y) var(--click-card-horizontal-space-sm-x);
}

.card-horizontal_md .card-horizontal__content {
  gap: var(--click-card-horizontal-space-md-gap);
}

.card-horizontal_sm .card-horizontal__content {
  gap: var(--click-card-horizontal-space-sm-gap);
}

.card-horizontal_md .card-horizontal__icon-text-content {
  gap: var(--click-card-horizontal-space-md-gap);
}

.card-horizontal_sm .card-horizontal__icon-text-content {
  gap: var(--click-card-horizontal-space-sm-gap);
}

.card-horizontal_default {
  background: var(--click-card-horizontal-default-color-background-default);
  border-color: var(--click-card-horizontal-default-color-stroke-default);
  color: var(--click-card-horizontal-default-color-title-default);
}

.card-horizontal_default .card-horizontal__description {
  color: var(--click-card-horizontal-default-color-description-default);
}

.card-horizontal_muted {
  background: var(--click-card-horizontal-muted-color-background-default);
  border-color: var(--click-card-horizontal-muted-color-stroke-default);
  color: var(--click-card-horizontal-muted-color-title-default);
}

.card-horizontal_muted .card-horizontal__description {
  color: var(--click-card-horizontal-muted-color-description-default);
}

.card-horizontal_selectable {
  cursor: pointer;
}

.card-horizontal_default.card-horizontal_selectable:not(.card-horizontal_selected) {
  border-color: var(--click-card-horizontal-default-color-stroke-hover);
}

.card-horizontal_muted.card-horizontal_selectable:not(.card-horizontal_selected) {
  border-color: var(--click-card-horizontal-muted-color-stroke-hover);
}

.card-horizontal_default.card-horizontal_selectable:hover:not(.card-horizontal_disabled) {
  background-color: var(--click-card-horizontal-default-color-background-hover);
  border-color: var(--click-card-horizontal-default-color-stroke-default);
  color: var(--click-card-horizontal-default-color-title-hover);
  font: var(--click-card-horizontal-typography-title-hover);
}

.card-horizontal_default.card-horizontal_selectable:hover:not(.card-horizontal_disabled) .card-horizontal__description {
  color: var(--click-card-horizontal-default-color-description-hover);
  font: var(--click-card-horizontal-typography-description-hover);
}

.card-horizontal_muted.card-horizontal_selectable:hover:not(.card-horizontal_disabled) {
  background-color: var(--click-card-horizontal-muted-color-background-hover);
  border-color: var(--click-card-horizontal-muted-color-stroke-default);
  color: var(--click-card-horizontal-muted-color-title-hover);
  font: var(--click-card-horizontal-typography-title-hover);
}

.card-horizontal_muted.card-horizontal_selectable:hover:not(.card-horizontal_disabled) .card-horizontal__description {
  color: var(--click-card-horizontal-muted-color-description-hover);
  font: var(--click-card-horizontal-typography-description-hover);
}

.card-horizontal_default.card-horizontal_selected,
.card-horizontal_default.card-horizontal_selectable.card-horizontal_selected {
  background-color: var(--click-card-horizontal-default-color-background-active);
  border-color: var(--click-card-horizontal-default-color-stroke-active);
  color: var(--click-card-horizontal-default-color-title-active);
}

.card-horizontal_default.card-horizontal_selected .card-horizontal__description,
.card-horizontal_default.card-horizontal_selectable.card-horizontal_selected .card-horizontal__description {
  color: var(--click-card-horizontal-default-color-description-active);
  font: var(--click-card-horizontal-typography-description-active);
}

.card-horizontal_muted.card-horizontal_selected,
.card-horizontal_muted.card-horizontal_selectable.card-horizontal_selected {
  background-color: var(--click-card-horizontal-muted-color-background-active);
  border-color: var(--click-card-horizontal-muted-color-stroke-active);
  color: var(--click-card-horizontal-muted-color-title-active);
}

.card-horizontal_muted.card-horizontal_selected .card-horizontal__description,
.card-horizontal_muted.card-horizontal_selectable.card-horizontal_selected .card-horizontal__description {
  color: var(--click-card-horizontal-muted-color-description-active);
  font: var(--click-card-horizontal-typography-description-active);
}

.card-horizontal_default:active:not(.card-horizontal_disabled),
.card-horizontal_default:focus:not(.card-horizontal_disabled),
.card-horizontal_default:focus-within:not(.card-horizontal_disabled) {
  background-color: var(--click-card-horizontal-default-color-background-active);
  border-color: var(--click-card-horizontal-default-color-stroke-active);
  color: var(--click-card-horizontal-default-color-title-active);
}

.card-horizontal_default:active:not(.card-horizontal_disabled) .card-horizontal__description,
.card-horizontal_default:focus:not(.card-horizontal_disabled) .card-horizontal__description,
.card-horizontal_default:focus-within:not(.card-horizontal_disabled) .card-horizontal__description {
  color: var(--click-card-horizontal-default-color-description-active);
  font: var(--click-card-horizontal-typography-description-active);
}

.card-horizontal_muted:active:not(.card-horizontal_disabled),
.card-horizontal_muted:focus:not(.card-horizontal_disabled),
.card-horizontal_muted:focus-within:not(.card-horizontal_disabled) {
  background-color: var(--click-card-horizontal-muted-color-background-active);
  border-color: var(--click-card-horizontal-muted-color-stroke-active);
  color: var(--click-card-horizontal-muted-color-title-active);
}

.card-horizontal_muted:active:not(.card-horizontal_disabled) .card-horizontal__description,
.card-horizontal_muted:focus:not(.card-horizontal_disabled) .card-horizontal__description,
.card-horizontal_muted:focus-within:not(.card-horizontal_disabled) .card-horizontal__description {
  color: var(--click-card-horizontal-muted-color-description-active);
  font: var(--click-card-horizontal-typography-description-active);
}

.card-horizontal_default.card-horizontal_selected:hover:not(.card-horizontal_disabled),
.card-horizontal_default.card-horizontal_selectable.card-horizontal_selected:hover:not(.card-horizontal_disabled) {
  border-color: var(--click-card-horizontal-default-color-stroke-active);
}

.card-horizontal_muted.card-horizontal_selected:hover:not(.card-horizontal_disabled),
.card-horizontal_muted.card-horizontal_selectable.card-horizontal_selected:hover:not(.card-horizontal_disabled) {
  border-color: var(--click-card-horizontal-muted-color-stroke-active);
}

.card-horizontal_disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.card-horizontal_default.card-horizontal_disabled,
.card-horizontal_default.card-horizontal_disabled:hover,
.card-horizontal_default.card-horizontal_disabled:active,
.card-horizontal_default.card-horizontal_disabled:focus,
.card-horizontal_default.card-horizontal_disabled:focus-within {
  background-color: var(--click-card-horizontal-default-color-background-disabled);
  border-color: var(--click-card-horizontal-default-color-stroke-disabled);
  color: var(--click-card-horizontal-default-color-title-disabled);
}

.card-horizontal_default.card-horizontal_disabled .card-horizontal__description,
.card-horizontal_default.card-horizontal_disabled:hover .card-horizontal__description,
.card-horizontal_default.card-horizontal_disabled:active .card-horizontal__description,
.card-horizontal_default.card-horizontal_disabled:focus .card-horizontal__description,
.card-horizontal_default.card-horizontal_disabled:focus-within .card-horizontal__description {
  color: var(--click-card-horizontal-default-color-description-disabled);
  font: var(--click-card-horizontal-typography-description-disabled);
}

.card-horizontal_muted.card-horizontal_disabled,
.card-horizontal_muted.card-horizontal_disabled:hover,
.card-horizontal_muted.card-horizontal_disabled:active,
.card-horizontal_muted.card-horizontal_disabled:focus,
.card-horizontal_muted.card-horizontal_disabled:focus-within {
  background-color: var(--click-card-horizontal-muted-color-background-disabled);
  border-color: var(--click-card-horizontal-muted-color-stroke-disabled);
  color: var(--click-card-horizontal-muted-color-title-disabled);
}

.card-horizontal_muted.card-horizontal_disabled .card-horizontal__description,
.card-horizontal_muted.card-horizontal_disabled:hover .card-horizontal__description,
.card-horizontal_muted.card-horizontal_disabled:active .card-horizontal__description,
.card-horizontal_muted.card-horizontal_disabled:focus .card-horizontal__description,
.card-horizontal_muted.card-horizontal_disabled:focus-within .card-horizontal__description {
  color: var(--click-card-horizontal-muted-color-description-disabled);
  font: var(--click-card-horizontal-typography-description-disabled);
}

@media (max-width: var(--breakpoint-sizes-md)) {
  .card-horizontal__content {
    flex-direction: column;
  }
}
