@use "cui-mixins" as mixins;

.cuiCodeBlockContainer {
  width: 100%;
  width: -webkit-fill-available;
  width: fill-available;
  width: stretch;
  position: relative;
  --cui-codeblock-pre-background: light-dark(
    var(--click-codeblock-lightMode-color-background-default),
    var(--click-codeblock-darkMode-color-background-default)
  );
  --cui-codeblock-pre-text: light-dark(
    var(--click-codeblock-lightMode-color-text-default),
    var(--click-codeblock-darkMode-color-text-default)
  );

  color: light-dark(
    var(--click-codeblock-lightMode-color-numbers-default),
    var(--click-codeblock-darkMode-color-numbers-default)
  );

  :global(.linenumber) {
    color: light-dark(
      var(--click-codeblock-lightMode-color-numbers-default),
      var(--click-codeblock-darkMode-color-numbers-default)
    );
  }

  &.cuiLightMode {
    color-scheme: light;
  }

  &.cuiDarkMode {
    color-scheme: dark;
  }
}

.cuiCodeButton {
  @include mixins.cuiEmptyButton;

  &.cuiCopied {
    color: var(--click-alert-color-text-success);
  }

  &.cuiError {
    color: var(--click-alert-color-text-danger);
  }

  &.cuiNormal {
    color: inherit;
  }
}

.cuiHighlighter {
  background: transparent;
  padding: 0;
  margin: 0;
}

.cuiCodeContent {
  font-family: inherit;
  color: inherit;
}

.cuiButtonContainer {
  position: absolute;
  display: flex;
  gap: 0.625rem;
  top: var(--click-codeblock-space-y);
  right: var(--click-codeblock-space-x);
}
