@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiCodeBlockContainer {
  @include mixins.cuiFullWidthStretch;
  position: relative;
  --cui-codeblock-pre-background: light-dark(
    var(--click-codeblock-lightMode-color-background-default),
    var(--click-codeblock-darkMode-color-background-default)
  );
  --cui-codeblock-pre-text: light-dark(
    var(--click-codeblock-lightMode-color-text-default),
    var(--click-codeblock-darkMode-color-text-default)
  );

  color: light-dark(
    var(--click-codeblock-lightMode-color-numbers-default),
    var(--click-codeblock-darkMode-color-numbers-default)
  );

  :global(.linenumber) {
    color: light-dark(
      var(--click-codeblock-lightMode-color-numbers-default),
      var(--click-codeblock-darkMode-color-numbers-default)
    );
  }

  @include variants.variant('cuiLightMode') {
    color-scheme: light;
  }

  @include variants.variant('cuiDarkMode') {
    color-scheme: dark;
  }
}

.cuiCodeButton {
  @include mixins.cuiEmptyButton;

  @include variants.variant('cuiCopied') {
    color: var(--click-alert-color-text-success);
  }

  @include variants.variant('cuiError') {
    color: var(--click-alert-color-text-danger);
  }

  @include variants.variant('cuiNormal') {
    color: inherit;
  }
}

.cuiHighlighter {
  background: transparent;
  padding: 0;
  margin: 0;
}

.cuiCodeContent {
  font-family: inherit;
  color: inherit;
}

.cuiButtonContainer {
  position: absolute;
  display: flex;
  gap: 0.625rem;
  top: var(--click-codeblock-space-y);
  right: var(--click-codeblock-space-x);
}
