@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

@keyframes cuiSpin {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(360deg) scaleX(-1);
  }
}

.cuiLoadingAnimated {
  animation: cuiSpin 1s infinite linear;
}