@use "cui-mixins" as mixins;
@use "cui-variants" as variants;

.cuiSidebarTitleWrapper {
  @include mixins.cuiSidebarItemBase;
  background: transparent;
  padding: 0;
  display: inline-flex;

  /* Base styles for main type */
  @include variants.variant('cuiMain') {
    font: var(--click-sidebar-navigation-title-typography-default);
    color: var(--click-sidebar-main-navigation-title-color-default);

    &:hover {
      font: var(--click-sidebar-navigation-title-typography-hover);
      color: var(--click-sidebar-main-navigation-title-color-hover);
    }

    &:active,
    &[data-selected="true"],
    &[data-open="true"] {
      font: var(--click-sidebar-navigation-title-typography-active);
      color: var(--click-sidebar-main-navigation-title-color-active);
    }
  }

  /* Base styles for sqlSidebar type */
  @include variants.variant('cuiSqlSidebar') {
    font: var(--click-sidebar-navigation-title-typography-default);
    color: var(--click-sidebar-sqlSidebar-navigation-title-color-default);

    &:hover {
      font: var(--click-sidebar-navigation-title-typography-hover);
      color: var(--click-sidebar-sqlSidebar-navigation-title-color-hover);
    }

    &:active,
    &[data-selected="true"],
    &[data-open="true"] {
      font: var(--click-sidebar-navigation-title-typography-active);
      color: var(--click-sidebar-sqlSidebar-navigation-title-color-active);
    }
  }

  /* Collapsible padding adjustment */
  &:not(.cuiCollapsible) {
    padding-left: var(--click-image-sm-size-width);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:active {
      color: inherit;
    }
  }
}
